.logo{
    width: 70px;
    height: 70px;
    padding: 16px;
    margin-left: 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(238, 232, 232);

}
.menu{
    padding: 16px;
    margin-right: 40px;
}
.search{
    padding: 20px;
}
.boton{
    margin-left: 8px;
    background-color: rgb(2, 145, 211);
    border-color:rgb(2, 145, 211) ;
    color:whitesmoke;
    border-radius: 8px;
    height: 36px;
    width: 52px;
}