.create-videogame{
    background-image: url("../../assets/images/halo-infinite-1.webp");
    background-position: center;
    background-size: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-style:inherit;

}
.formulario{
    margin-top: 12px;
    padding: 32px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    color: white;
    max-height: 85vh;
    min-height: 75vh ;
    overflow-y: scroll;
}
.titulo-create{
    background-color: rgba(0, 0, 0, 0.699);
    padding: 20px;
    border-radius: 12px;
}
.btn-crear{
    margin-top: 36px;
    background-color: rgb(2, 145, 211);
    border-color:rgb(2, 145, 211) ;
    color:rgb(236, 233, 233);
    border-radius: 8px;
    width: 120px;
    height: 30px;
    cursor: pointer;
}
.btn-crear:hover{
    background-color: rgb(28, 134, 33);
    border-color:rgb(28, 134, 33) ;
    color:rgb(236, 233, 233);
    transition: 0.5s;

}
.buton-atras{
    justify-content: left;
    background-color:#030e1a;
    color:rgb(2, 145, 211);
    border-color: rgb(2, 145, 211);
    margin-left: 8px;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
}
.buton-atras:hover{
    border-color:rgb(151, 17, 17) ;
    background-color: rgb(151, 17, 17) ;
    color: whitesmoke;
    transition: 0.5s;
}
.platform-Label{
    display: flex;
    margin: 10px;
    background-color:rgba(2, 145, 211, 0.795) ;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding-left: 5px;

    
}
.container-platform-label{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;

    

}
.delete-buton-label{
    background-color:rgb(151, 17, 17) ;
    border-color: rgb(151, 17, 17);
    padding: 2px;
    margin: 5px;
    color: whitesmoke;
    font-size: x-small;
    border-radius: 5px;
}