.menu-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 250px;
    height: 450px;
    position: fixed;
    top: 80px;
    left: 100%;
    color: rgb(2, 145, 211) ;
    background-color:#0b2949c2  ;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    border-bottom-left-radius: 16px;
    padding-top: 10%;
    padding-bottom: 10%;
    
    

}
.menu-container.open{
    transform: translateX(-107%);
}
.to-create{
    text-decoration: none;
    color: whitesmoke;
    width: 120px;
    
}

.menu-container:hover{
    background-color:#0a3058f1 ;
}
.btn-create{
    border-radius: 8px;
    padding: 8px;
    border-color: rgb(2, 145, 211);
    background-color:rgb(2, 145, 211);
    color:whitesmoke;
    font: bolder;
    cursor: pointer;
}
.btn-create:hover{
    border-color: rgb(2, 145, 211);
    background-color:#05182c;
    color: rgb(2, 145, 211);
    font: bolder;
}
.limpiar-filtros{
    border-radius: 8px;
    padding: 8px;
    border-color: #05182c;
    background-color:#05182c;
    color:whitesmoke;
    font: bolder;
    width: 120px;
    cursor: pointer;
}
.limpiar-filtros:hover{
    border-color:rgb(151, 17, 17) ;
    background-color: rgb(151, 17, 17) 
}