.cards-wrapper {
    max-height: calc(100vh - 80px);
    min-height: calc(100vh - 80px) ;
    background-image: url("https://miro.medium.com/max/1050/1*VVdvi5v250Q8LfN-tmE_uw.jpeg");
    background-size: 100%;
    overflow-y: scroll;
}

.cards-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px;
    padding-bottom: 0px;
}
.paginado-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.to-detail{
    text-decoration: none;
}