.fondo-landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: no-repeat url("https://miro.medium.com/max/1050/1*VVdvi5v250Q8LfN-tmE_uw.jpeg");
    background-position: center;
    background-size: 100%;
    color:rgb(230, 228, 228);
    opacity: 96%;
}
.boton-landing{
    background-color: rgb(2, 145, 211);
    border-color:rgb(2, 145, 211) ;
    width: 150px;
    height: 80px;
    font-size: 25px;
    border-radius: 18px;
    color:whitesmoke;
   
}
button.boton-landing:hover{
    background-color:#030e1a;
    color:rgb(2, 145, 211);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-color: rgb(2, 145, 211);
}
.bienvenido{
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(231, 228, 228);
}
.logo1{
    max-width: 100px;
    max-height: 100px;
    padding-bottom: 30px;
}